params {
    // ENSEMBL PLANTS RELEASE
    eprelease = 39 
    //ADD MORE HERE, KEEPING ORDER in {species,version}, first letter must be in capital
    assemblySpecies = "Arabidopsis_thaliana,Brachypodium_distachyon"
    assemblyVersion = "TAIR10,v1.0"
    //URL BUILDING - STABLE(?)
    urlprefix = "ftp://ftp.ensemblgenomes.org/pub/plants/release-"
    pepsuffix = ".pep.all.fa.gz"
    idxsuffix = ".dna.toplevel.fa.gz.fai"
}