/*
This file provides input specification.
It can be overridden at run-time by specifying
-params-file filename, which can be JSON or YAML
all content is parsed-in under params.
Alterantively, you can modify this file or add to it
*/
params {
    references = [
      [
        species : "Triticum_aestivum",
        version : "IWGSC_RefSeq_v1.0",
        shortName : "IWGSC",
        idx  : "local/161010_Chinese_Spring_v1.0_pseudomolecules.fasta.fai",
        fasta  : "local/161010_Chinese_Spring_v1.0_pseudomolecules.fasta",
        source : "https://wheat-urgi.versailles.inra.fr/Seq-Repository/Assemblies",
        citation : "The International Wheat Genome Sequencing Conosrtium. Shifting the limits in wheat research and breeding through a fully annotated and anchored reference genome sequence. Science. 2018. https://doi.org/10.1126/science.aar7191"
      ],
      // [
      //   species : "Triticum_aestivum",
      //   version : "IWGSC_RefSeq_v2.0",
      //   shortName : "IWGSCv2",
      //   // pep :  [ - best to wait for official annotations or place old using genomic sequences
      //   //   HC : "local/iwgsc_refseqv1.0_HighConf_REPR_CDS_2017Apr03_on_refseqv2.0.fasta",
      //   //   LC : "local/iwgsc_refseqv1.0_LowConf_REPR_CDS_2017Apr03_on_refseqv2.0.fasta",
      //   // ],
      //   idx  : "local/iwgsc_refseqv2.0_all_chromosomes.fa.fai",
      //   fasta  : "local/iwgsc_refseqv2.0_all_chromosomes.fa",
      //   source : "https://wheat-urgi.versailles.inra.fr/Seq-Repository/Assemblies",
      // ],
      //10 wheats START ==========================================
      [
        species : "Triticum_aestivum",
        version : "Julius_MAGIC3_170807",
        shortName : "Julius",
        idx  : "local/10wheats/170807_julius_MAGIC3_pseudomolecules.fasta.gz.fai",
        fasta  : "local/10wheats/170807_julius_MAGIC3_pseudomolecules.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],
      [
        species : "Triticum_aestivum",
        version : "Landmark_v1_170831",
        shortName : "Landmark",
        idx  : "local/10wheats/170831_Landmark_pseudomolecules.fasta.gz.fai",
        fasta  : "local/10wheats/170831_Landmark_pseudomolecules.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],
      [
        species : "Triticum_aestivum",
        version : "Jagger_v1.1_180529",
        shortName : "Jagger",
        idx  : "local/10wheats/180529_Jagger_pseudomolecule_v1.1.fasta.gz.fai",
        fasta  : "local/10wheats/180529_Jagger_pseudomolecule_v1.1.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],
      [
        species : "Triticum_aestivum",
        version : "ArinaLrFor_v3_180808",
        shortName : "Arina",
        idx  : "local/10wheats/180808_ArinaLrFor_pseudomolecules_v3.fasta.gz.fai",
        fasta  : "local/10wheats/180808_ArinaLrFor_pseudomolecules_v3.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],
      [
        species : "Triticum_aestivum",
        version : "Stanley_v1.2_180902",
        shortName : "Stanley",
        idx  : "local/10wheats/180902_Stanley_pseudomolecules_v1.2.fasta.gz.fai",
        fasta  : "local/10wheats/180902_Stanley_pseudomolecules_v1.2.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],
      [
        species : "Triticum_aestivum",
        version : "SY_Mattis_v1_181016",
        shortName : "Mattis",
        idx  : "local/10wheats/181016_SY_Mattis_pseudomolecule_v1.fasta.gz.fai",
        fasta  : "local/10wheats/181016_SY_Mattis_pseudomolecule_v1.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],
      [
        species : "Triticum_aestivum",
        version : "Lancer_v1.0_181120",
        shortName : "Lancer",
        idx  : "local/10wheats/181120_lancer_pseudomolecule_v1.0.fasta.gz.fai",
        fasta  : "local/10wheats/181120_lancer_pseudomolecule_v1.0.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],
      [
        species : "Triticum_aestivum",
        version : "Mace_v1.0_181120",
        shortName : "Mace",
        idx  : "local/10wheats/181120_mace_pseudomolecule_v1.0.fasta.gz.fai",
        fasta  : "local/10wheats/181120_mace_pseudomolecule_v1.0.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],
      [
        species : "Triticum_aestivum",
        version : "Norin61_v1.1_190307",
        shortName : "Norin61",
        idx  : "local/10wheats/190307_Norin61_pseudomolecule_v1.1.fasta.gz.fai",
        fasta  : "local/10wheats/190307_Norin61_pseudomolecule_v1.1.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],
      [
        species : "Triticum_spelta",
        version : "Spelt_v1.0_190524",
        shortName : "Spelt",
        idx  : "local/10wheats/190524_spelt_pseudomolecules_v1.0.fasta.gz.fai",
        fasta  : "local/10wheats/190524_spelt_pseudomolecules_v1.0.fasta.gz",
        source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      ],

      // [
      //   species : "Triticum_aestivum",
      //   version : "",
      //   shortName : "",
      //   idx  : "local/10wheats/",
      //   fasta  : "local/10wheats/",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ],
      // //10 wheats END ==========================================
   ]
   /*
    Markers, contigs scaffolds, gene predictions to be placed on all or subset of assemblies
    Fileds:
      name
      fasta
      type => markers|transcripts|genomic, the later being aimed assembly vs assembly alignmentas opposed do short-ish marker sequences
      target: [species: '', version: '', ] //all data sets if not specified
   */
   sequencesToPlace = [
     [
        name: '90k',
        fasta: 'local/markers/90kSNPprobes.seq.fasta',
        seqtype: 'markers'
     ]
  //    [
  //       name: 'IWGSC_MIPSv2.2_HC',
  //       fasta: 'local/transcripts/ta_IWGSC_MIPSv2.2_HighConf_REPR_genic.fasta',
  //       seqtype: 'genomic',
  //       target: [
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v1.0'],
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v2.0']
  //       ]
  //    ],
  //   // //  [
  //   // //     name: 'IWGSC_CSSv2',
  //   // //     fasta: 'local/contigs/IWGSC_CSSv2.fa',
  //   // //     seqtype: 'genomic',
  //   // //     target: [
  //   // //       [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v1.0'],
  //   // //       [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v2.0']
  //   // //     ]
  //   // //  ],
  //    [
  //       name: 'Triticum_3.1',
  //       fasta: 'local/contigs/GCA_002220415.2_Triticum_3.1_genomic.fna.gz',
  //       seqtype: 'genomic',
  //       target: [
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v1.0'],
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v2.0']
  //       ]
  //    ],
  //    [
  //       name: 'TGACv1',
  //       fasta: 'local/contigs/Triticum_aestivum.TGACv1.30.dna.toplevel.fa.gz',
  //       //fasta: 'local/contigs/test.fa',
  //       seqtype: 'genomic',
  //       target: [
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v1.0'],
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v2.0']
  //       ]
  //    ]
   ]
}
