process {
  container = 'rsuchecki/tools:0.2'
    withLabel: fastx {
      container = 'rsuchecki/fastx:0.0.14'
      // container = 'biocontainers/fastxtools:v0.0.14_cv2'
    }
    withLabel: groovy {
      container = 'rsuchecki/groovy:3.0_868da92992a46b74552abbbf72b76c8aba3fbc9c'
    }
    withLabel: minimap2 {
      container = 'rsuchecki/minimap2:2.17'
    }
    withLabel: MMseqs2 {
      container = 'rsuchecki/mmseqs2:version-10'
    }
    withLabel: jq {
      container = 'rsuchecki/jq:latest'
    }
    withLabel: samtools {
      container = 'mgibio/samtools:1.9'
    }
}
