process {
    withLabel: BUSCO {
      container = 'rsuchecki/busco:3.0.2_blast2.8.1'
    }
    withLabel: fastx {
      container = 'biocontainers/fastxtools:v0.0.14_cv2'
    }
    withLabel: groovy {
      container = 'groovy:3.0'
    }
    withLabel: minimap2 {
      container = 'rsuchecki/minimap2:2.17'
    }
    withLabel: MMseqs2 {
      container = 'rsuchecki/mmseqs2:version-10'
    }
    withLabel: jq {
      container = 'stedolan/jq'
    }
    withLabel: samtools {
      container = 'rsuchecki/samtools:1.9_358fa2a91e7feaf5f30e46818d5c9d81ad3975f9'
    }
}
