/*
This file provides input specification.
It can be extended or overridden at run-time by specifying
-params-file filename, which can be JSON or YAML
all content is parsed-in under params.
Alterantively, you can modify this file or add to it
*/
manifest {
  mainScript = 'viabusco.nf'
}
params {
  busco {
    lineage = 'http://busco.ezlab.org/v2/datasets/mammalia_odb9.tar.gz' //see available at https://busco.ezlab.org/ https://busco.ezlab.org/frame_wget.html
    //lineage = 'http://busco.ezlab.org/v2/datasets/metazoa_odb9.tar.gz' //see available at https://busco.ezlab.org/ https://busco.ezlab.org/frame_wget.html
    augustusSpecies = 'human' //see http://augustus.gobics.de/binaries/README.TXT for available param presets
    //APPLIED IN POST(BUSCO)-PROCESSING
    allowedStatus = 'Complete|Duplicated|Fragmented' //any subset of 'Complete|Duplicated|Fragmented'
    minPlaced = 2 //Only output blocks with at least that many features
  }
  assemblies = [
    [
      species : "Didelphis_virginiana",
      version : "dv-2k",
      shortName : "Virginia opossum",
      fasta : "https://www.dropbox.com/s/e28kwr89hsgnttn/dv-2k.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Macropus_eugenii",
      version : "me-1k",
      shortName : "Tammar wallaby",
      fasta : "https://www.dropbox.com/s/hmqcht477pyt88z/me-1k.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Macropus_fuliginosus",
      version : "mf-2k",
      shortName : "Western grey kangaroo",
      fasta : "https://www.dropbox.com/s/gnatlneuvjb3lok/mf-2k.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Macropus_giganteus",
      version : "mg-2k",
      shortName : "Eastern grey kangaroo",
      fasta : "https://www.dropbox.com/s/4fxf1qc99fhlo8y/mg-2k.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Macropus_rufus",
      version : "mr-2k",
      shortName : "Red kangaroo",
      fasta : "https://www.dropbox.com/s/hpodphadgqixfcn/mr-2k.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Monodelphis_domestica",
      version : "MomDom5",
      shortName : "Gray short-tailed opossum",
      fasta : "https://www.dropbox.com/s/dimrxivu1vcsfrp/MonDom5_HiC.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1038/nature05805 https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Phalanger_gymnotis",
      version : "pg-2k",
      shortName : "Ground cuscus",
      fasta : "https://www.dropbox.com/s/qnkxuaev055fj79/pg-2k.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Vombatus_ursinus",
      version : "vu-2k",
      shortName : "Wombat",
      fasta : "https://www.dropbox.com/s/j7mawjpzougy0wl/vu-2k.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ]

  ]
}
