/*
This file provides input specification.
It can be extended or overridden at run-time by specifying
-params-file filename, which can be JSON or YAML
all content is parsed-in under params.
Alterantively, you can modify this file or add to it
*/
params {
  assemblies += [
    [
      species : "Acinonyx_jubatus",
      version : "aciJub1",
      shortName : "Cheetah",
      fasta : "https://www.dropbox.com/sh/3edikxi970fthaq/AACfVhH7s3Djxqyzah92ZfBRa/aciJub1_HiC.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://www.ncbi.nlm.nih.gov/nuccore/QAVW00000000.1 https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Panthera_pardus",
      version : "PanPar1.0",
      shortName : "Leopard",
      fasta : "https://www.dropbox.com/s/5o9jtzyqgrbnwlr/PanPar1.0_HiC.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1186/s13059-016-1071-4 https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Panthera_tigris",
      version : "PanTig1.0",
      shortName : "Tiger",
      fasta : "https://www.dropbox.com/s/8rvovem9ppycwr5/PanTig1.0_HiC.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1038/ncomms3433 https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Puma_concolor",
      version : "PumCon1.0",
      shortName : "Cougar",
      fasta : "https://www.dropbox.com/sh/iydsirtt7athkic/AACJB8NOT6dZSWxAfx0y6DCSa/PumCon1.0_HiC.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1186/s13059-015-0837-4 https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ]
  ]
}
