/*
This file provides input specification.
It can be overridden at run-time by specifying
-params-file filename, which can be JSON or YAML
all content is parsed-in under params.
Alterantively, you can modify this file or add to it
*/
params {
    remoteAssembly = [
      [
        species : "Arabidopsis_thaliana",
        version : "TAIR10",
        shortName : "TAIR", //arbitrary display name
        eprelease: 39 // ENSEMBL PLANTS RELEASE
        //could match nums in version and do S_genus_matched_numbers `echo TAIR10 v1.0 IRGSP-1.0 Hv_IBSC_PGSB_v2 | grep -P '(?=.)([+-]?([0-9]*)(\.([0-9]+))?)'`
      ],
      [
        species : "Brachypodium_distachyon",
        version : "v1.0",
        shortName : "Brachy", //arbitrary display name
        eprelease: 39 // ENSEMBL PLANTS RELEASE
      ],
      // [
      //   species : "Brachypodium_distachyon",
      //   version : "Brachypodium_distachyon_v3.0",
      //   shortName : "BrachyV3", //arbitrary display name
      //   eprelease: 43 // ENSEMBL PLANTS RELEASE
      // ],
      // // [
      // //   species : "Oryza_sativa",
      // //   version : "IRGSP-1.0",
      // //   shortName : "IRGSP", //arbitrary display name
      // //   eprelease: 39 // ENSEMBL PLANTS RELEASE
      // // ],
      // [
      //   species : "Hordeum_vulgare",
      //   version : "Hv_IBSC_PGSB_v2",
      //   shortName : "Barley", //arbitrary display name
      //   eprelease: 39 // ENSEMBL PLANTS RELEASE
      // ]
      // [
      //   species : "Hordeum_vulgare",
      //   version : "IBSC_v2",
      //   shortName : "Barley", //arbitrary display name
      //   eprelease: 43 // ENSEMBL PLANTS RELEASE
      // ]
      // [
      //   species : "Panicum_hallii_fil2",
      //   version : "PHallii_v3.1",
      //   shortName : "panicgrass (Filipes)", //arbitrary display name
      //   eprelease: 43 // ENSEMBL PLANTS RELEASE
      // ],
      // [
      //   species : "Panicum_hallii_hal2",
      //   version : "PhalliiHAL_v2.1",
      //   shortName : "panicgrass (Hallii)", //arbitrary display name
      //   eprelease: 43 // ENSEMBL PLANTS RELEASE
      // ]
    ]
}