 params {
    //ENSEMBL PLANTS DATA
   //  eprelease = 39  // ENSEMBL PLANTS RELEASE
    //URL BUILDING - STABLE(?)
    urlprefix = "ftp://ftp.ensemblgenomes.org/pub/plants/release-"
    pepsuffix = ".pep.all.fa.gz"
    idxsuffix = ".dna.toplevel.fa.gz.fai"
    fastasuffix = ".dna.toplevel.fa.gz"
 }