 params {
    //ENSEMBL PLANTS DATA
   //  eprelease = 39  // ENSEMBL PLANTS RELEASE
    //URL BUILDING - STABLE(?)
    urlprefix = "ftp://ftp.ensemblgenomes.org/pub/plants/release-"
    pepsuffix = ".pep.all.fa.gz"
    idxsuffix = ".dna.toplevel.fa.gz.fai"

    //SEQUENCE ALIGNMENT THRESHOLDS
    minIdentity = 0.5
    minCoverage = 0.6

    //POST ALIGNMENT FILTERING THRESHOLDS
    minIdentityFilter = 0.7
    minCoverageFilter = 0.8
 }