 params {
    //URL BUILDING - STABLE(?)
    urlprefix = "ftp://ftp.ensemblgenomes.org/pub/fungi/release-"
    pepsuffix = ".pep.all.fa.gz"
    idxsuffix = ".dna.toplevel.fa.gz.fai"
    fastasuffix = ".dna.toplevel.fa.gz"

    //SEQUENCE ALIGNMENT THRESHOLDS
    minIdentity = 0.5
    minCoverage = 0.6

    //POST ALIGNMENT FILTERING THRESHOLDS
    minIdentityFilter = 0.7
    minCoverageFilter = 0.8

    remoteAssembly = [
      [
        species : "Saccharomyces_cerevisiae",
        version : "R64-1-1",
        shortName : "yeast", //arbitrary display name
        eprelease: 45 // ENSEMBL PLANTS RELEASE        
      ],
      [
        species : "Schizosaccharomyces_pombe",
        version : "ASM294v2",
        shortName : "pombe", //arbitrary display name
        eprelease: 45 // ENSEMBL PLANTS RELEASE        
      // ],
      // [
      //   species : "Schizosaccharomyces_cryophilus",
      //   version : "GCA_000004155.2",
      //   shortName : "cryophilus", //arbitrary display name
      //   eprelease: 45 // ENSEMBL PLANTS RELEASE        
      ]
    ]
 }

