params {
  //NUMBER OF LINES TO BE PROOCESSED FOR TRIAL PURPOSES, DEFAULT null WILL PROCESS WHOLE DATASETS
  trialLines = null
  //SEQUENCE ALIGNMENT THRESHOLDS
  minIdentity = 0.5
  minCoverage = 0.6
  //POST ALIGNMENT FILTERING THRESHOLDS
  minIdentityFilter = 0.7
  minCoverageFilter = 0.8

  //ENSEMBL PLANTS DATA
    eprelease = 39  // ENSEMBL PLANTS RELEASE
    //URL BUILDING - STABLE(?)
    urlprefix = "ftp://ftp.ensemblgenomes.org/pub/plants/release-"
    pepsuffix = ".pep.all.fa.gz"
    idxsuffix = ".dna.toplevel.fa.gz.fai"
    remoteAssembly = [
      [
        species : "Arabidopsis_thaliana",
        version : "TAIR10",
        shortName : "TAIR" //arbitrary display name
        //could match nums in version and do S_genus_matched_numbers `echo TAIR10 v1.0 IRGSP-1.0 Hv_IBSC_PGSB_v2 | grep -P '(?=.)([+-]?([0-9]*)(\.([0-9]+))?)'`
      ],
      [
        species : "Brachypodium_distachyon",
        version : "v1.0",
        shortName : "Brachy" //arbitrary display name
      ],
      [
        species : "Oryza_sativa",
        version : "IRGSP-1.0",
        shortName : "IRGSP" //arbitrary display name
      ],
      [
        species : "Hordeum_vulgare",
        version : "Hv_IBSC_PGSB_v2",
        shortName : "Barley" //arbitrary display name
      ]
    ]
  //OTHER DATASETS
    localAssembly = [
      [
        species : "Aegilops tauschii",
        subspecies : "strangulata",
        cultivar: "AL8/78",
        version : "Aet_v4.0",
        shortName : "tauschii",
        pep  : [
          HC: "local/AET_High_confidence_gene_protein.fasta",
          LC: "local/AET_Low_confidence_gene_protein.fasta"
        ],
        gtfgff3 : [
          HC: "local/AET_High_confidence_gene_mod.gff3",
          LC: "local/AET_Low_confidence_gene_mod.gff3"
        ],
        idx  : "local/AtGSP_mod.fa.fai", //TODO
        source : "https://www.ebi.ac.uk/ena/data/view/GCA_002575655.1 http://aegilops.wheat.ucdavis.edu/ATGSP/annotation/",
        citation : "Genome sequence of the progenitor of the wheat D-genome Aegilops tauschii. M C Luo et al. Nature 551, 498–502. doi:10.1038/nature24486"
      ],
      [
        species : "Triticum_aestivum",
        version : "IWGSC_RefSeq_v1.0",
        shortName : "IWGSC",
        pep  : [
          HC: "local/iwgsc_refseqv1.0_HighConf_REPR_PROTEIN_2017Apr03.fa",
          LC: "local/iwgsc_refseqv1.0_LowConf_REPR_PROTEIN_2017Apr03.fa"
        ],
        gtfgff3 : [
          HC: "local/iwgsc_refseqv1.0_HighConf_2017Mar13.gff3",
          LC: "local/iwgsc_refseqv1.0_LowConf_2017Mar13.gff3"
        ],
        idx  : "local/161010_Chinese_Spring_v1.0_pseudomolecules.fa.fai",
        source : "https://wheat-urgi.versailles.inra.fr/Seq-Repository/Assemblies",
        citation : "The International Wheat Genome Sequencing Conosrtium. Shifting the limits in wheat research and breeding through a fully annotated and anchored reference genome sequence. Science. 2018. https://doi.org/10.1126/science.aar7191"
      ],
      [
        species : "Triticum_aestivum",
        version : "Campala_Lr22a",
        shortName : "CLr22a",
        pep  : "local/LS480641.1.aa.fasta",
        idx  : "local/LS480641.1.fasta.fai",
        source : "https://www.ebi.ac.uk/ena/data/view/PRJEB24957",
        citation : "Chromosome-scale comparative sequence analysis unravels molecular mechanisms of genome dynamics between two wheat cultivars. A K Thind et al., Genome Biol. 2018 Aug 17;19(1):104. doi: 10.1186/s13059-018-1477-2"
      ],
      [
        species : "Triticum_dicoccoides",
        version : "WEWseq_PGSB_20160501",
        shortName : "Emmer",
        pep :  [
          HC : "local/TRIDC_WEWseq_PGSB_20160501_Proteins_HighConf_REPR.fasta",
          LC : "local/TRIDC_WEWseq_PGSB_20160501_Proteins_LowConf_REPR.fasta",
        ],
        gtfgff3 : [
          HC : "local/TRIDC_WEWseq_PGSB_20160501_HighConf.gtf",
          LC : "local/TRIDC_WEWseq_PGSB_20160501_LowConf.gtf"
        ],
        idx : "local/151210_zavitan_v2_pseudomolecules.fasta.fai",
        source : "https://wheat.pw.usda.gov/GG3/wildemmer",
        citation : "Wild emmer genome architecture and diversity elucidate wheat evolution and domestication. Raz Avni et al., Science 07 Jul 2017, Vol. 357, Issue 6346, pp. 93-97 DOI: 10.1126/science.aan0032"
      ],
      [
        species : "Triticum_urartu",
        cultivar: "G1812"
        version : "Tu2.0",
        shortName : "urartu",
        pep :  [
          HC : "local/WheatTu.pros.long.HC.fasta",
          LC : "local/WheatTu.pros.long.LC.fasta",
        ],
        gtfgff3 : [
          HC : "local/WheatTu.gene_mod.gff",
          LC : "local/WheatTu.gene_mod.gff"
        ],
        idx : "local/WheatTu.genome.fasta.lengths",
        source : "https://www.ebi.ac.uk/ena/data/view/GCA_003073215 http://www.mbkbase.org/Tu/",
        citation : "Genome sequence of the progenitor of wheat A subgenome Triticum urartu. H Q Ling et al. Nature. 2018 May;557(7705):424-428. doi: 10.1038/s41586-018-0108-0"
      ]
   ]
}
