params {
  //NUMBER OF LINES TO BE PROOCESSED FOR TRIAL PURPOSES, DEFAULT null WILL PROCESS WHOLE DATASETS
  trialLines = null
  //ENSEMBL PLANTS DATA
      // ENSEMBL PLANTS RELEASE
    eprelease = 39 
    //ADD MORE HERE, KEEPING ORDER in {species,version}, first letter must be in capital
    assemblySpecies = "Arabidopsis_thaliana,Brachypodium_distachyon,Oryza_sativa,Hordeum_vulgare"
    assemblyVersion = "TAIR10,v1.0,IRGSP-1.0,Hv_IBSC_PGSB_v2"
    //URL BUILDING - STABLE(?)
    urlprefix = "ftp://ftp.ensemblgenomes.org/pub/plants/release-"
    pepsuffix = ".pep.all.fa.gz"
    idxsuffix = ".dna.toplevel.fa.gz.fai"
  //OTHER DATASETS
    //WILD EMMER (repeated as high and low conf)   
    localAssembly = [
      [ 
        species : "Triticum_dicoccoides",
        version : "WEWseq_PGSB_20160501",
        subgenomes : ["A","B"],
        //TODO? UPDATE PEP TO A LIST WITH Low and High Conf SEPARATED
        pep : "local/TRIDC_WEWseq_PGSB_20160501_Proteins_AllConf_REPR.fasta",
        gtf : "local/TRIDC_WEWseq_PGSB_20160501_AllConf.gtf",
        idx : "local/151210_zavitan_v2_pseudomolecules.fasta.fai"
      ],
      [ 
        species : "Triticum_aestivum",
        version : "IWGSC_RefSeq_v1.0",
        subgenomes : ["A","B","D"],
        //TODO? UPDATE PEP TO A LIST WITH Low and High Conf SEPARATED
        pep  : "local/iwgsc_refseqv1.0_AllConf_REPR_PROTEIN_2017Apr03.fa",
        gff3 : "local/iwgsc_refseqv1.0_AllConf_2017Mar13.gff3",
        idx  : "local/161010_Chinese_Spring_v1.0_pseudomolecules.fa.fai"
      ]
    ]
}