params {
  //NUMBER OF LINES TO BE PROOCESSED FOR TRIAL PURPOSES, DEFAULT null WILL PROCESS WHOLE DATASETS
  trialLines = null
  //SEQUENCE ALIGNMENT THRESHOLDS
  minIdentity = 0.5
  minCoverage = 0.6
  //POST ALIGNMENT FILTERING THRESHOLDS
  minIdentityFilter = 0.7
  minCoverageFilter = 0.8

  assemblies = [
    [
      species : "Acinonyx_jubatus",
      version : "aciJub1",
      shortName : "Cheetah",
      fasta : "https://www.dropbox.com/sh/3edikxi970fthaq/AACfVhH7s3Djxqyzah92ZfBRa/aciJub1_HiC.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://www.ncbi.nlm.nih.gov/nuccore/QAVW00000000.1 https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ],
    [
      species : "Puma_concolor",
      version : "PumCon1.0",
      shortName : "Cougar",
      fasta : "https://www.dropbox.com/sh/iydsirtt7athkic/AACJB8NOT6dZSWxAfx0y6DCSa/PumCon1.0_HiC.fasta.gz",
      source : "https://www.dnazoo.org/",
      citation : "https://doi.org/10.1186/s13059-015-0837-4 https://doi.org/10.1126/science.aal3327 https://doi.org/10.1101/254797"
    ]
  ]
}
