params {
  //NUMBER OF LINES TO BE PROOCESSED FOR TRIAL PURPOSES, DEFAULT null WILL PROCESS WHOLE DATASETS
  trialLines = null
  //SEQUENCE ALIGNMENT THRESHOLDS
  minIdentity = 0.5
  minCoverage = 0.6
  //POST ALIGNMENT FILTERING THRESHOLDS
  minIdentityFilter = 0.8
  minCoverageFilter = 0.8 

  //ENSEMBL PLANTS DATA
      // ENSEMBL PLANTS RELEASE
    eprelease = 39
    //ADD MORE HERE, KEEPING ORDER in {species,version}, first letter must be in capital
    assemblySpecies = "Arabidopsis_thaliana,Brachypodium_distachyon,Oryza_sativa,Hordeum_vulgare"
    assemblyVersion = "TAIR10,v1.0,IRGSP-1.0,Hv_IBSC_PGSB_v2"
    // assemblySpecies = "Arabidopsis_thaliana,Brachypodium_distachyon"//,Oryza_sativa,Hordeum_vulgare"
    // assemblyVersion = "TAIR10,v1.0"//,IRGSP-1.0,Hv_IBSC_PGSB_v2"
    //URL BUILDING - STABLE(?)
    urlprefix = "ftp://ftp.ensemblgenomes.org/pub/plants/release-"
    pepsuffix = ".pep.all.fa.gz"
    idxsuffix = ".dna.toplevel.fa.gz.fai"
  //OTHER DATASETS
    //WILD EMMER (repeated as high and low conf)
    localAssembly = [
      [
        species : "Triticum_dicoccoides",
        version : "WEWseq_PGSB_20160501_HC",
        //TODO? UPDATE PEP TO A LIST WITH Low and High Conf SEPARATED
        pep : "local/TRIDC_WEWseq_PGSB_20160501_Proteins_HighConf_REPR.fasta",
        gtf : "local/TRIDC_WEWseq_PGSB_20160501_HighConf.gtf",
        idx : "local/151210_zavitan_v2_pseudomolecules.fasta.fai",
        source : "https://wheat.pw.usda.gov/GG3/wildemmer",
        citation : "Wild emmer genome architecture and diversity elucidate wheat evolution and domestication. Raz Avni et al., Science 07 Jul 2017, Vol. 357, Issue 6346, pp. 93-97 DOI: 10.1126/science.aan0032"
      ],
      [
        species : "Triticum_dicoccoides",
        version : "WEWseq_PGSB_20160501_LC",
        pep : "local/TRIDC_WEWseq_PGSB_20160501_Proteins_LowConf_REPR.fasta",
        gtf : "local/TRIDC_WEWseq_PGSB_20160501_LowConf.gtf",
        idx : "local/151210_zavitan_v2_pseudomolecules.fasta.fai",
        source : "https://wheat.pw.usda.gov/GG3/wildemmer",
        citation : "Wild emmer genome architecture and diversity elucidate wheat evolution and domestication. Raz Avni et al., Science 07 Jul 2017, Vol. 357, Issue 6346, pp. 93-97 DOI: 10.1126/science.aan0032"
      ],
      [
        species : "Triticum_aestivum",
        version : "IWGSC_RefSeq_v1.0_LC",
        //TODO? UPDATE PEP TO A LIST WITH Low and High Conf SEPARATED
        pep  : "local/iwgsc_refseqv1.0_LowConf_REPR_PROTEIN_2017Apr03.fa",
        gff3 : "local/iwgsc_refseqv1.0_LowConf_2017Mar13.gff3",
        idx  : "local/161010_Chinese_Spring_v1.0_pseudomolecules.fa.fai",
        source : "https://wheat-urgi.versailles.inra.fr/Seq-Repository/Assemblies",
        citation : "In preparation"
      ],
      [
        species : "Triticum_aestivum",
        version : "IWGSC_RefSeq_v1.0_HC",
        pep  : "local/iwgsc_refseqv1.0_HighConf_REPR_PROTEIN_2017Apr03.fa",
        gff3 : "local/iwgsc_refseqv1.0_HighConf_2017Mar13.gff3",
        idx  : "local/161010_Chinese_Spring_v1.0_pseudomolecules.fa.fai",
        source : "https://wheat-urgi.versailles.inra.fr/Seq-Repository/Assemblies",
        citation : "In preparation"
      ]
    ]
}