 params {
    references = [
      [
        species : "Encephalitozoon_intestinalis",
        version : "ATCC_50506_gca_000146465",
        shortName : "E. intestinalis", //arbitrary display name
        pep : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/fasta/fungi_microsporidia1_collection/encephalitozoon_intestinalis_atcc_50506_gca_000146465/pep/Encephalitozoon_intestinalis_atcc_50506_gca_000146465.ASM14646v1.pep.all.fa.gz",
        // gff3 : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/gff3/fungi_microsporidia1_collection/encephalitozoon_intestinalis_atcc_50506_gca_000146465/Encephalitozoon_intestinalis_atcc_50506_gca_000146465.ASM14646v1.45.gff3.gz",
        idx :   "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/fasta/fungi_microsporidia1_collection/encephalitozoon_intestinalis_atcc_50506_gca_000146465/dna_index/Encephalitozoon_intestinalis_atcc_50506_gca_000146465.ASM14646v1.dna.toplevel.fa.gz.fai"
        //fasta : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/fasta/fungi_microsporidia1_collection/encephalitozoon_intestinalis_atcc_50506_gca_000146465/dna_index/Encephalitozoon_intestinalis_atcc_50506_gca_000146465.ASM14646v1.dna.toplevel.fa.gz",
        // source: "https://fungi.ensembl.org/Encephalitozoon_intestinalis_atcc_50506_gca_000146465"
      ],
      [
        species : "Encephalitozoon_cuniculi_ecuniii_l",
        version : "gca_001078035",
        shortName : "E. cuniculi", //arbitrary display name
        pep : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/fasta/fungi_microsporidia1_collection/encephalitozoon_cuniculi_ecuniii_l_gca_001078035/pep/Encephalitozoon_cuniculi_ecuniii_l_gca_001078035.ECIIIL.pep.all.fa.gz",
        // gff3 : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/gff3/fungi_microsporidia1_collection/encephalitozoon_cuniculi_ecuniii_l_gca_001078035/Encephalitozoon_cuniculi_ecuniii_l_gca_001078035.ECIIIL.45.gff3.gz",
        idx : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/fasta/fungi_microsporidia1_collection/encephalitozoon_cuniculi_ecuniii_l_gca_001078035/dna_index/Encephalitozoon_cuniculi_ecuniii_l_gca_001078035.ECIIIL.dna.toplevel.fa.gz.fai",
        fasta : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/fasta/fungi_microsporidia1_collection/encephalitozoon_cuniculi_ecuniii_l_gca_001078035/dna_index/Encephalitozoon_cuniculi_ecuniii_l_gca_001078035.ECIIIL.dna.toplevel.fa.gz"
        // source: "https://fungi.ensembl.org/Encephalitozoon_cuniculi_ecuniii_l_gca_001078035"
      ]
    ]
 }

