process {
    withLabel: fastx {
      module = 'fastx/0.0.14'
    }
    withLabel: groovy {
      module = 'groovy/2.4.7'
    }
    withLabel: minimap2 {
      module = 'minimap2/2.16'
    }
    withLabel: MMseqs2 {
      module = 'mmseqs2/3-be8f6'
    }
    withLabel: jq {
      module = 'jq/1.6.0'
    }

}
