process {
  withLabel: download {
    publishDir {
      path = "${params.outdir}/download"
      mode = "${params.publishmode}"
    }
  }
  withLabel: 'json|tsv' {
    publishDir = [
      [path: "${params.outdir}/JSON", mode: "${params.publishmode}", pattern: "*.{json,json.gz}"],
      [path: "${params.outdir}/TSV", mode: "${params.publishmode}", pattern: "*.{tsv,tsv.gz}"]
    ]
  }
  withLabel: archive {
    publishDir {
      path = "${params.outdir}/archive"
      mode = "${params.publishmode}"
    }
  }
  withLabel: summary {
    publishDir {
      path = "${params.outdir}/summary"
      mode = "${params.publishmode}"
    }
  }
}
