process {
    errorStrategy = 'retry'
    maxRetries = 3
    cpus = 2
    memory = 2.GB
    time = 1.h
    withLabel: BUSCO {
        cpus = { check_max( (params.trialLines == null ? 10 : 4) * task.attempt, 'cpus' ) }
        memory = { check_max( (params.trialLines == null ? 16.GB : 4.GB) * task.attempt, 'memory' ) }
        time = { check_max( (params.trialLines == null ? 48.h : 2.h) * task.attempt, 'time' ) }
    }
    withLabel: MMseqs2 {
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        time = { check_max( 2.h * task.attempt, 'time' ) }
    }
}

params {
  // Defaults to be overwritten
  max_memory = 128.GB
  max_cpus = 20
  max_time = 7.d
}

//in script: java -Xmx${task.memory.toGiga()}g  -jar \$PICARD_HOME/picard.jar \
