process {
    errorStrategy = 'retry'
    maxRetries = 3
    cpus = 2
    memory = 2.GB
    time = 1.h
    withLabel: MMseqs2 {
        cpus = { check_max( 4 * task.attempt, 'cpus' ) }
        memory = { check_max( 2.GB * task.attempt, 'memory' ) }
        time = { check_max( 2.h * task.attempt, 'time' ) }
    }
}

params {
  // Defaults to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 48.h
}

//in script: java -Xmx${task.memory.toGiga()}g  -jar \$PICARD_HOME/picard.jar \
