 params {
    /*
    Dataset definitions - these are assemblies for which we want to generate pretzel-compatible JSON files.

    Fields:
      species (required)   - no spaces, stick to alpphanumeric and underscores
      version (required)   - version of the assembly
      shortName (optional) - name displayed in pretzel over the chromosome axis

    The combination of species+version must be unique among input assemblies.

    In addition, to generate different data set types you will need one or more of the following:

      1. For generation of protein-alignmant-based aliases which are most useful for interspecies comparions
          idx - a path or URL to a genome index (fai) file,
                or, really just sequence identifiers and their lengths
                if idx not defined then 'fasta' field must be defined (see below)
          pep - a path or URL to a set of proteins FASTA
                if protein definition lines are formatted as pep files from Ensembl genomes
                this is enough, otherwise you will also need
          gff3 - a gff3 file describing the gene predictions, compatible with content of pep and the underlying genome assembly

      2. To be able to place a set of sequences on an assembly, its definition should specify
          fasta - a path or URL to a genome fasta file
          you will also need to define sequences you want to place, see below comments for 'sequencesToPlace'


    It is recommended to include these (optional) additional fields to capture the origin of your data sets
      source
      citation

    Furthermore, if chromosome ids in your dataset do not match /^(ch|[0-9]|x|y|i|v)/
    you may specify the following optional field
      allowedIdPattern - which could be a regular expression matching your chromosome/supercontig naming pattern

    */
    references = [
      [
        species : "Sorghum_bicolor",
        version : "NCBIv3",
        shortName : "Sorghum", //arbitrary display name
        pep : "ftp://ftp.ensemblgenomes.org/pub/plants/release-50/fasta/sorghum_bicolor/pep/Sorghum_bicolor.Sorghum_bicolor_NCBIv3.pep.all.fa.gz",
        // gff3 : not required as Ensembl-style pep provided // gff3 : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/gff3/fungi_microsporidia1_collection/encephalitozoon_intestinalis_atcc_50506_gca_000146465/Encephalitozoon_intestinalis_atcc_50506_gca_000146465.ASM14646v1.45.gff3.gz",
        idx :   "ftp://ftp.ensemblgenomes.org/pub/plants/release-50/fasta/sorghum_bicolor/dna_index/Sorghum_bicolor.Sorghum_bicolor_NCBIv3.dna.toplevel.fa.gz.fai",
        fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-50/fasta/sorghum_bicolor/dna/Sorghum_bicolor.Sorghum_bicolor_NCBIv3.dna.toplevel.fa.gz",
        citation : "https://doi.org/10.1038/nature07723",
        source : "https://plants.ensembl.org/Sorghum_bicolor/Info/Index"
      ],
      [
        species : "Saccharum_spontaneum",
        version : "HiC_chr_asm", //
        shortName : "S_sponteneum", //arbitrary display name - could be something like "Cultivar AP85-441"
        pep : "ftp://ftp.ensemblgenomes.org/pub/plants/release-50/fasta/saccharum_spontaneum/pep/Saccharum_spontaneum.Sspon.HiC_chr_asm.pep.all.fa.gz",
        // gff3 : not required as Ensembl-style pep provided // gff3 : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/gff3/fungi_microsporidia1_collection/encephalitozoon_intestinalis_atcc_50506_gca_000146465/Encephalitozoon_intestinalis_atcc_50506_gca_000146465.ASM14646v1.45.gff3.gz",
        idx :   "ftp://ftp.ensemblgenomes.org/pub/plants/release-50/fasta/saccharum_spontaneum/dna_index/Saccharum_spontaneum.Sspon.HiC_chr_asm.dna.toplevel.fa.gz.fai",
        fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-50/fasta/saccharum_spontaneum/dna/Saccharum_spontaneum.Sspon.HiC_chr_asm.dna.toplevel.fa.gz",
        citation : "https://doi.org/10.1038/s41467-018-05051-5",
        source: "https://plants.ensembl.org/Saccharum_spontaneum/Info/Index"
      ],
      // [
      //   species : "Saccharum_officinarum_X_spontaneum",
      //   version : "R570_V1",
      //   shortName : "R570", //arbitrary display name
      //   idx :   "local/R570_V1/Saccharum_officinarum_X_spontaneum_var_R570.mainGenome.fasta.fai",
      //   fasta : "local/R570_V1/Saccharum_officinarum_X_spontaneum_var_R570.mainGenome.fasta", //Simplified identifiers: mv local/R570_V1/Saccharum_officinarum_X_spontaneum_var_R570.mainGenome.fasta local/R570_V1/Saccharum_officinarum_X_spontaneum_var_R570.mainGenome.fasta.BAK && sed -e 's/SB_//g' -e 's/chrom/chr/g' -e 's/recombinant/rec/g' -e 's/alternative/alt/g' -e 's/primary/prim/g' local/R570_V1/Saccharum_officinarum_X_spontaneum_var_R570.mainGenome.fasta.BAK | tr '|:' '__' > local/R570_V1/Saccharum_officinarum_X_spontaneum_var_R570.mainGenome.fasta
      //   source: "JGI"
      // ]
      [
        species   : "Saccharum_officinarum_X_spontaneum",
        version   : "R570_V2",
        shortName : "R570_V2", //arbitrary display name
        fasta     : "local/R570_V2/Saccharum_officinarum_X_spontaneum_var_R570.mainGenome.fasta",
        idx       : "local/R570_V2/Saccharum_officinarum_X_spontaneum_var_R570.mainGenome.fasta.fai",
        gff3      : "/scratch1/suc010/mirror/2021-pretzel-sugar/local/R570_V2/SofficinarumxspontaneumR570v2.1.gene.gff3",
        pep       : "local/R570_V2/SofficinarumxspontaneumR570v2.1.allTrs.pep.fa", //alternatively: '.primaryTrs.pep.fa'
        source    : "JGI"
      ]
    ]

    /*
    Markers, contigs, scaffolds, gene predictions to be placed on all or a subset of assemblies
    Fileds:
      name
      fasta
      seqtype - can be one of markers|transcripts|cds|genomic
      target: [ [species: '', version: ''], [species: '', version: ''] ] //all data sets if this optional field not specified
   */
    sequencesToPlace = [
      [
        name: 'Axiom100k',
        // fasta: 'local/markers/NGS_000105_contigs_new_ids.fa',  //local or remote, either gz or not
        fasta: 'local/markers/Axiom_100k_probes.fa',  //local or remote, either gz or not
        seqtype: 'markers' //markers|transcripts|cds|genomic
        // target: [
        //   [ species: 'Sorghum_bicolor', version: 'NCBIv3', minIdentityFilter: 0.2 ],
        //   [ species: 'Saccharum_spontaneum', version: 'HiC_chr_asm' ],
        //   [ species: 'Saccharum_officinarum_X_spontaneum', version: 'R570_V1' ]
        // ]
      ],
      [
        name: 'Axiom48k',
        // fasta: 'local/markers/NGS_000105_contigs_new_ids.fa',  //local or remote, either gz or not
        fasta: 'local/markers/Axiom48k_probes.fa',  //local or remote, either gz or not
        seqtype: 'markers' //markers|transcripts|cds|genomic
        // target: [
        //   [ species: 'Sorghum_bicolor', version: 'NCBIv3', minIdentityFilter: 0.2 ],
        //   [ species: 'Saccharum_spontaneum', version: 'HiC_chr_asm' ],
        //   [ species: 'Saccharum_officinarum_X_spontaneum', version: 'R570_V1' ]
        // ]
      ]
    ]
 }

