/*
This file provides input specification.
It can be overridden at run-time by specifying
-params-file filename, which can be JSON or YAML
all content is parsed-in under params.
Alterantively, you can modify this file or add to it
*/
params {
    references = [
      [
        species : "Arabidopsis_thaliana",
        version : "TAIR10",
        shortName : "TAIR",
        pep :  "ftp://ftp.ensemblgenomes.org/pub/plants/release-39/fasta/arabidopsis_thaliana/pep/Arabidopsis_thaliana.TAIR10.pep.all.fa.gz",
        idx : "ftp://ftp.ensemblgenomes.org/pub/plants/release-39/fasta/arabidopsis_thaliana/dna_index/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.gz.fai",
        fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-39/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.gz",
        source : "https://plants.ensembl.org/Arabidopsis_thaliana",
        citation : "https://doi.org/10.1093/nar/gkm965"
      ],
      [
        species : "Brachypodium_distachyon",
        version : "v1.0",
        shortName : "Brachy",
        pep :  "ftp://ftp.ensemblgenomes.org/pub/plants/release-39/fasta/brachypodium_distachyon/pep/Brachypodium_distachyon.v1.0.pep.all.fa.gz",
        idx : "ftp://ftp.ensemblgenomes.org/pub/plants/release-39/fasta/brachypodium_distachyon/dna_index/Brachypodium_distachyon.v1.0.dna.toplevel.fa.gz.fai",
        fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-39/fasta/brachypodium_distachyon/dna/Brachypodium_distachyon.v1.0.dna.toplevel.fa.gz",
        source : "https://plants.ensembl.org/Brachypodium_distachyon",
        citation : "https://doi.org/10.1038/nature08747"
      ],
      [
        species : "Brachypodium_distachyon",
        version : "v3.0",
        shortName : "BrachyV3",
        pep :  "ftp://ftp.ensemblgenomes.org/pub/plants/release-43/fasta/brachypodium_distachyon/pep/Brachypodium_distachyon.Brachypodium_distachyon_v3.0.pep.all.fa.gz",
        idx : "ftp://ftp.ensemblgenomes.org/pub/plants/release-43/fasta/brachypodium_distachyon/dna_index/Brachypodium_distachyon.Brachypodium_distachyon_v3.0.dna.toplevel.fa.gz.fai",
        fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-43/fasta/brachypodium_distachyon/dna/Brachypodium_distachyon.Brachypodium_distachyon_v3.0.dna.toplevel.fa.gz",
        source : "https://plants.ensembl.org/Brachypodium_distachyon",
        citation : "https://doi.org/10.1038/nature08747"
      ],
      [
        species : "Aegilops_tauschii",
        subspecies : "strangulata",
        cultivar: "AL8/78",
        version : "Aet_v4.0",
        shortName : "tauschii",
        pep  : [
          HC: "local/AET_High_confidence_gene_protein.fasta",
          LC: "local/AET_Low_confidence_gene_protein.fasta"
        ],
        gff3 : [
          HC: "local/AET_High_confidence_gene_mod.gff3",
          LC: "local/AET_Low_confidence_gene_mod.gff3"
        ],
        idx  : "local/AtGSP_mod.fa.fai",
        fasta : "local/AtGSP_mod.fa",
        source : "https://www.ebi.ac.uk/ena/data/view/GCA_002575655.1 http://aegilops.wheat.ucdavis.edu/ATGSP/annotation/",
        citation : "Genome sequence of the progenitor of the wheat D-genome Aegilops tauschii. M C Luo et al. Nature 551, 498–502. doi:10.1038/nature24486"
      ],
      [
        species : "Hordeum_vulgare",
        cultivar: "Morex",
        version : "Morex_V2",
        shortName : "MorexV2",
        pep  : [
          HC: "local/barley/gene_annotation/Barley_Morex_V2_gene_annotation_PGSB.HC.aa.fasta",
          LC: "local/barley/gene_annotation/Barley_Morex_V2_gene_annotation_PGSB.LC.aa.fasta"
        ],
        gff3 : [
          HC: "local/barley/gene_annotation/Barley_Morex_V2_gene_annotation_PGSB.HC.gff3",
          LC: "local/barley/gene_annotation/Barley_Morex_V2_gene_annotation_PGSB.LC.gff3"
        ],
        idx  : "local/barley/Barley_Morex_V2_pseudomolecules.fasta.fai",
        fasta  : "local/barley/Barley_Morex_V2_pseudomolecules.fasta",
        source : "doi.org/10.5447/IPK/2019/8",
        citation : "TRITEX: chromosome-scale sequence assembly of Triticeae genomes with open-source tools. C Monat et al. https://www.biorxiv.org/content/10.1101/631648v1"
      ],
      [
        species : "Oryza_sativa",
        version : "IRGSP-1.0",
        shortName : "IRGSP",
        pep : [
          RGAP : "local/Rice_RGAP/all.pep",
          IRGSP : "local/Oryza_sativa.IRGSP-1.0.pep.REPR.fa"
        ],
        gff3 : [
          RGAP: "local/Rice_RGAP/all.gff3"
          // IRGSP : "local/Oryza_sativa.IRGSP-1.0.43.gff3" //not needed as pep already formatted correctly
        ],
        idx : "local/Rice_RGAP/all.chrs.con.fai",
        source : "http://rice.plantbiology.msu.edu https://rapdb.dna.affrc.go.jp/",
        citation : "Improvement of the Oryza sativa Nipponbare reference genome using next generation sequence and optical map data. Yoshihiro Kawahara et al., Rice 6:4 2013."
      ],
      [
        species : "Triticum_aestivum",
        version : "IWGSC_RefSeq_v1.0",
        shortName : "IWGSC",
        pep  : [
          HC: "local/iwgsc_refseqv1.0_HighConf_REPR_PROTEIN_2017Apr03.fa",
          LC: "local/iwgsc_refseqv1.0_LowConf_REPR_PROTEIN_2017Apr03.fa"
        ],
        gff3 : [
          HC: "local/iwgsc_refseqv1.0_HighConf_2017Mar13.gff3",
          LC: "local/iwgsc_refseqv1.0_LowConf_2017Mar13.gff3"
        ],
        idx  : "local/161010_Chinese_Spring_v1.0_pseudomolecules.fasta.fai",
        fasta  : "local/161010_Chinese_Spring_v1.0_pseudomolecules.fasta",
        source : "https://wheat-urgi.versailles.inra.fr/Seq-Repository/Assemblies",
        citation : "The International Wheat Genome Sequencing Conosrtium. Shifting the limits in wheat research and breeding through a fully annotated and anchored reference genome sequence. Science. 2018. https://doi.org/10.1126/science.aar7191"
      ],
      [
        species : "Triticum_aestivum",
        version : "IWGSC_RefSeq_v2.0",
        shortName : "IWGSCv2",
        // pep :  [ - best to wait for official annotations or place old using genomic sequences
        //   HC : "local/iwgsc_refseqv1.0_HighConf_REPR_CDS_2017Apr03_on_refseqv2.0.fasta",
        //   LC : "local/iwgsc_refseqv1.0_LowConf_REPR_CDS_2017Apr03_on_refseqv2.0.fasta",
        // ],
        idx  : "local/iwgsc_refseqv2.0_all_chromosomes.fa.fai",
        fasta  : "local/iwgsc_refseqv2.0_all_chromosomes.fa",
        source : "https://wheat-urgi.versailles.inra.fr/Seq-Repository/Assemblies",
      ],
      // //10 wheats START ==========================================
      // [
      //   species : "Triticum_aestivum",
      //   version : "Julius_MAGIC3_170807",
      //   shortName : "Julius",      
      //   idx  : "local/10wheats/170807_julius_MAGIC3_pseudomolecules.fasta.gz.fai",
      //   fasta  : "local/10wheats/170807_julius_MAGIC3_pseudomolecules.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ],
      // [
      //   species : "Triticum_aestivum",
      //   version : "Landmark_v1_170831",
      //   shortName : "Landmark",      
      //   idx  : "local/10wheats/170831_Landmark_pseudomolecules.fasta.gz.fai",
      //   fasta  : "local/10wheats/170831_Landmark_pseudomolecules.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ],
      // [
      //   species : "Triticum_aestivum",
      //   version : "Jagger_v1.1_180529",
      //   shortName : "Jagger",      
      //   idx  : "local/10wheats/180529_Jagger_pseudomolecule_v1.1.fasta.gz.fai",
      //   fasta  : "local/10wheats/180529_Jagger_pseudomolecule_v1.1.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ],
      // [
      //   species : "Triticum_aestivum",
      //   version : "ArinaLrFor_v3_180808",
      //   shortName : "Arina",      
      //   idx  : "local/10wheats/180808_ArinaLrFor_pseudomolecules_v3.fasta.gz.fai",
      //   fasta  : "local/10wheats/180808_ArinaLrFor_pseudomolecules_v3.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ],
      // [
      //   species : "Triticum_aestivum",
      //   version : "Stanley_v1.2_180902",
      //   shortName : "Stanley",      
      //   idx  : "local/10wheats/180902_Stanley_pseudomolecules_v1.2.fasta.gz.fai",
      //   fasta  : "local/10wheats/180902_Stanley_pseudomolecules_v1.2.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ],
      // [
      //   species : "Triticum_aestivum",
      //   version : "SY_Mattis_v1_181016",
      //   shortName : "Mattis",      
      //   idx  : "local/10wheats/181016_SY_Mattis_pseudomolecule_v1.fasta.gz.fai",
      //   fasta  : "local/10wheats/181016_SY_Mattis_pseudomolecule_v1.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ],
      // [
      //   species : "Triticum_aestivum",
      //   version : "Lancer_v1.0_181120",
      //   shortName : "Lancer",      
      //   idx  : "local/10wheats/181120_lancer_pseudomolecule_v1.0.fasta.gz.fai",
      //   fasta  : "local/10wheats/181120_lancer_pseudomolecule_v1.0.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ],
      // [
      //   species : "Triticum_aestivum",
      //   version : "Mace_v1.0_181120",
      //   shortName : "Mace",      
      //   idx  : "local/10wheats/181120_mace_pseudomolecule_v1.0.fasta.gz.fai",
      //   fasta  : "local/10wheats/181120_mace_pseudomolecule_v1.0.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ], 
      // [
      //   species : "Triticum_aestivum",
      //   version : "Norin61_v1.1_190307",
      //   shortName : "Norin61",      
      //   idx  : "local/10wheats/190307_Norin61_pseudomolecule_v1.1.fasta.gz.fai",
      //   fasta  : "local/10wheats/190307_Norin61_pseudomolecule_v1.1.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ], 
      // [
      //   species : "Triticum_spelta",
      //   version : "Spelt_v1.0_190524",
      //   shortName : "Spelt",      
      //   idx  : "local/10wheats/190524_spelt_pseudomolecules_v1.0.fasta.gz.fai",
      //   fasta  : "local/10wheats/190524_spelt_pseudomolecules_v1.0.fasta.gz",
      //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // ], 
      // // [
      // //   species : "Triticum_aestivum",
      // //   version : "",
      // //   shortName : "",      
      // //   idx  : "local/10wheats/",
      // //   fasta  : "local/10wheats/",
      // //   source : "http://www.10wheatgenomes.com/ https://wheat.ipk-gatersleben.de/",
      // // ],  
      // //10 wheats END ==========================================
      [
        species : "Triticum_aestivum",
        version : "Campala_Lr22a",
        shortName : "CLr22a",
        pep  : "local/LS480641.1.aa.fasta",
        idx  : "local/LS480641.1.len",
        fasta  : "local/LS480641.1.fasta",
        source : "https://www.ebi.ac.uk/ena/data/view/PRJEB24957",
        citation : "Chromosome-scale comparative sequence analysis unravels molecular mechanisms of genome dynamics between two wheat cultivars. A K Thind et al., Genome Biol. 2018 Aug 17;19(1):104. doi: 10.1186/s13059-018-1477-2"
      ],
      [
        species : "Triticum_dicoccoides",
        version : "WEWseq_PGSB_20160501",
        shortName : "Emmer",
        pep :  [
          HC : "local/TRIDC_WEWseq_PGSB_20160501_Proteins_HighConf_REPR.fasta",
          LC : "local/TRIDC_WEWseq_PGSB_20160501_Proteins_LowConf_REPR.fasta",
        ],
        gtf : [
          HC : "local/TRIDC_WEWseq_PGSB_20160501_HighConf.gtf",
          LC : "local/TRIDC_WEWseq_PGSB_20160501_LowConf.gtf"
        ],
        idx : "local/151210_zavitan_v2_pseudomolecules.fasta.fai",
        fasta : "local/151210_zavitan_v2_pseudomolecules.fasta",
        source : "https://wheat.pw.usda.gov/GG3/wildemmer",
        citation : "Wild emmer genome architecture and diversity elucidate wheat evolution and domestication. Raz Avni et al., Science 07 Jul 2017, Vol. 357, Issue 6346, pp. 93-97 DOI: 10.1126/science.aan0032"
      ],
      [
        species : "Triticum_dicoccoides",
        version : "WEW_v2.0",
        shortName : "Emmer2",
        pep :  "local/TRIDC_WEWseq_PGSB_20160501_Proteins_HighConf_REPR_on_WEW2.0_chromosomes.fasta",
        idx : "local/WEW_2.0.fasta.fai",
        fasta : "local/WEW_2.0.fasta",
        source : "https://wheat.pw.usda.gov/GG3/wildemmer",
        citation : "Wild emmer genome architecture and diversity elucidate wheat evolution and domestication. Raz Avni et al., Science 07 Jul 2017, Vol. 357, Issue 6346, pp. 93-97 DOI: 10.1126/science.aan0032"
      ],
      [
        species : "Triticum_turgidum",
        version : "Svevo",
        shortName : "Durum",
        pep :  "local/Svevo/ENA/Svevo.aa.fa",
        idx : "local/Svevo/ENA/Svevo.len",
        fasta : "local/Svevo/ENA/Svevo.fasta",
        source : "https://www.ebi.ac.uk/ena/data/view/PRJEB22687",
        citation : "Durum wheat genome highlights past domestication signatures and future improvement targets. Marco Maccaferri et al., Nat. Genet. doi: 10.1038/s41588-019-0381-3"
      ],
      [
        species : "Triticum_urartu",
        cultivar: "G1812",
        version : "Tu2.0",
        shortName : "urartu",
        pep :  [
          HC : "local/WheatTu.pros.long.HC.fasta",
          LC : "local/WheatTu.pros.long.LC.fasta",
        ],
        gff3 : [
          HC : "local/WheatTu.gene_mod.gff",
          LC : "local/WheatTu.gene_mod.gff"
        ],
        idx : "local/WheatTu.genome.fasta.lengths",
        fasta : "local/WheatTu.genome.fasta",
        source : "https://www.ebi.ac.uk/ena/data/view/GCA_003073215 http://www.mbkbase.org/Tu/",
        citation : "Genome sequence of the progenitor of wheat A subgenome Triticum urartu. H Q Ling et al. Nature. 2018 May;557(7705):424-428. doi: 10.1038/s41586-018-0108-0"
      ]
   ]
   /*
    Markers, contigs scaffolds, gene predictions to be placed on all or subset of assemblies
    Fileds:
      name
      fasta
      type => markers|transcripts|genomic, the later being aimed assembly vs assembly alignmentas opposed do short-ish marker sequences
      target: [species: '', version: '', ] //all data sets if not specified
   */
   sequencesToPlace = [
     [
        name: '90k',
        fasta: 'local/markers/90kSNPprobes.seq.fasta',
        seqtype: 'markers'
     ]
  //    [
  //       name: 'IWGSC_MIPSv2.2_HC',
  //       fasta: 'local/transcripts/ta_IWGSC_MIPSv2.2_HighConf_REPR_genic.fasta',
  //       seqtype: 'genomic',
  //       target: [
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v1.0'],
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v2.0']
  //       ]
  //    ],
  //   // //  [
  //   // //     name: 'IWGSC_CSSv2',
  //   // //     fasta: 'local/contigs/IWGSC_CSSv2.fa',
  //   // //     seqtype: 'genomic',
  //   // //     target: [
  //   // //       [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v1.0'],
  //   // //       [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v2.0']
  //   // //     ]
  //   // //  ],
  //    [
  //       name: 'Triticum_3.1',
  //       fasta: 'local/contigs/GCA_002220415.2_Triticum_3.1_genomic.fna.gz',
  //       seqtype: 'genomic',
  //       target: [
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v1.0'],
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v2.0']
  //       ]
  //    ],
  //    [
  //       name: 'TGACv1',
  //       fasta: 'local/contigs/Triticum_aestivum.TGACv1.30.dna.toplevel.fa.gz',
  //       //fasta: 'local/contigs/test.fa',
  //       seqtype: 'genomic',
  //       target: [
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v1.0'],
  //         [ species: 'Triticum_aestivum', version: 'IWGSC_RefSeq_v2.0']
  //       ]
  //    ]
   ]
}
